<h2>Here are the tasks</h2>

<ul>
  <% @tasks.each do |task| %>
  <li><%= task.completed ? "√" : "□" %> <%= link_to task.title, task %></li>
  <% end %>
</ul>

<div>
  <%= link_to "Create", new_task_path %>
</div>
